In [ ]:
DataFrames : 2 dimensional ,tabular like structure with hetrogenously typed columns

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [ ]:
random.rand = It is used to generate some random numbers[0,1](5,4) 5 rows, 4 colums

In [6]:
a = np.random.rand(5,4)

In [7]:
a

array([[0.93083091, 0.4068871 , 0.62492998, 0.12051334],
       [0.87850483, 0.55512747, 0.6524689 , 0.22538507],
       [0.33303259, 0.95190769, 0.76695215, 0.55546342],
       [0.0582611 , 0.5290549 , 0.29253891, 0.53550701],
       [0.1898688 , 0.18046332, 0.92680688, 0.16138026]])

In [8]:
'A B C D E'.split()

['A', 'B', 'C', 'D', 'E']

In [9]:
df = pd.DataFrame(np.random.rand(5,4),index = ['A', 'B', 'C', 'D', 'E'],columns='W X Y Z'.split())

In [10]:
df

          W         X         Y         Z
A  0.960915  0.693164  0.041048  0.224963
B  0.031615  0.023598  0.705545  0.621423
C  0.733075  0.621968  0.368714  0.403918
D  0.304707  0.212556  0.554467  0.404565
E  0.846499  0.465981  0.153698  0.173314

In [ ]:
#Some important functions of DataFrames.

In [11]:
#info() -- It is used to provide information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
W    5 non-null float64
X    5 non-null float64
Y    5 non-null float64
Z    5 non-null float64
dtypes: float64(4)
memory usage: 200.0+ bytes

In [15]:
#To rename the label (column name)
df.rename(columns={"W" : "f"},inplace=True)
#It is used to make changes permanent

In [16]:
df.rename(index = {"A":"a","B" : 1},inplace=True)

In [17]:
df

          f         X         Y         Z
a  0.960915  0.693164  0.041048  0.224963
1  0.031615  0.023598  0.705545  0.621423
C  0.733075  0.621968  0.368714  0.403918
D  0.304707  0.212556  0.554467  0.404565
E  0.846499  0.465981  0.153698  0.173314

In [18]:
df.describe() #Returns Descriptive Statistics of DataFrame

              f         X         Y         Z
count  5.000000  5.000000  5.000000  5.000000
mean   0.575362  0.403453  0.364694  0.365637
std    0.392414  0.281213  0.274534  0.176907
min    0.031615  0.023598  0.041048  0.173314
25%    0.304707  0.212556  0.153698  0.224963
50%    0.733075  0.465981  0.368714  0.403918
75%    0.846499  0.621968  0.554467  0.404565
max    0.960915  0.693164  0.705545  0.621423

In [19]:
df

          f         X         Y         Z
a  0.960915  0.693164  0.041048  0.224963
1  0.031615  0.023598  0.705545  0.621423
C  0.733075  0.621968  0.368714  0.403918
D  0.304707  0.212556  0.554467  0.404565
E  0.846499  0.465981  0.153698  0.173314

In [20]:
#To fetch a column
df["X"]

a    0.693164
1    0.023598
C    0.621968
D    0.212556
E    0.465981
Name: X, dtype: float64

In [21]:
#I want list of columns?
df[["X","Y","Z"]]

          X         Y         Z
a  0.693164  0.041048  0.224963
1  0.023598  0.705545  0.621423
C  0.621968  0.368714  0.403918
D  0.212556  0.554467  0.404565
E  0.465981  0.153698  0.173314

In [22]:
df.columns

Index(['f', 'X', 'Y', 'Z'], dtype='object')

In [26]:
#Drop a column , Always remeber to assign value to axis , axis = 1 #ro in pandas 
df.drop("X", axis=1,inplace=True)

In [27]:
df

          f         Y         Z
a  0.960915  0.041048  0.224963
1  0.031615  0.705545  0.621423
C  0.733075  0.368714  0.403918
D  0.304707  0.554467  0.404565
E  0.846499  0.153698  0.173314

In [28]:
#To drop a row
df.drop("C")

          f         Y         Z
a  0.960915  0.041048  0.224963
1  0.031615  0.705545  0.621423
D  0.304707  0.554467  0.404565
E  0.846499  0.153698  0.173314

In [29]:
df1 = pd.DataFrame(np.random.rand(5,4),index = ['A', 'B', 'C', 'D', 'E'],columns='W X Y Z'.split())

In [30]:
df1

          W         X         Y         Z
A  0.075857  0.602287  0.541193  0.779714
B  0.674471  0.346884  0.902114  0.842105
C  0.720561  0.843959  0.763190  0.317648
D  0.039223  0.684550  0.671483  0.689794
E  0.666546  0.481428  0.610899  0.340098

In [ ]:
#Selecting Rows
loc helps us to get rows with particular labels from the dataframe.

In [35]:
df1.loc["A":"D"] #upper bound included

          W         X         Y         Z
A  0.075857  0.602287  0.541193  0.779714
B  0.674471  0.346884  0.902114  0.842105
C  0.720561  0.843959  0.763190  0.317648
D  0.039223  0.684550  0.671483  0.689794

In [36]:
df1.loc["A":"D","Y"] #[Rows,columns]

A    0.541193
B    0.902114
C    0.763190
D    0.671483
Name: Y, dtype: float64

In [37]:
df1.loc["A"]["X"] #To access a particular value across corresponding labels,.

0.6022872675541384

In [38]:
df1.loc["A":"C","W":"Y"]

          W         X         Y
A  0.075857  0.602287  0.541193
B  0.674471  0.346884  0.902114
C  0.720561  0.843959  0.763190

In [39]:
df1.loc["A":"C","W":]

          W         X         Y         Z
A  0.075857  0.602287  0.541193  0.779714
B  0.674471  0.346884  0.902114  0.842105
C  0.720561  0.843959  0.763190  0.317648

In [43]:
df1.loc[:,"W":"Y"]

          W         X         Y
A  0.075857  0.602287  0.541193
B  0.674471  0.346884  0.902114
C  0.720561  0.843959  0.763190
D  0.039223  0.684550  0.671483
E  0.666546  0.481428  0.610899

In [45]:
df1

          W         X         Y         Z
A  0.075857  0.602287  0.541193  0.779714
B  0.674471  0.346884  0.902114  0.842105
C  0.720561  0.843959  0.763190  0.317648
D  0.039223  0.684550  0.671483  0.689794
E  0.666546  0.481428  0.610899  0.340098

In [ ]:
#Suppose kro ki dataframe me 25000 rows and 1500 columns hai,
#ao ab agr aapko 10k s 14k rows and 5000 s 9650th column ka data fetch krna h
#To remove this problem we have iloc , iloc me hum label na pass krke default index value of python pass krte h

In [48]:
df1.iloc[0:3,1:3]

          X         Y
A  0.602287  0.541193
B  0.346884  0.902114
C  0.843959  0.763190