In [2]:
import seaborn as sns
tips = sns.load_dataset("tips")

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tips["time"].value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [ ]:
Now i want time coloumn in my feature matrix, 
sklearn library ki kuch considerations h:
1. Feature matrix m sirf or sirf numerical columns ho--- aise columns yea features
jinme numerical data ho.
BUt agr hum tips data ki baat kre to time,sex,day,smoker column m categorical string data h

In [5]:
y = tips.iloc[:,0]

In [6]:
y---- #y m hmne store kr lia target

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
5      25.29
6       8.77
7      26.88
8      15.04
9      14.78
10     10.27
11     35.26
12     15.42
13     18.43
14     14.83
15     21.58
16     10.33
17     16.29
18     16.97
19     20.65
20     17.92
21     20.29
22     15.77
23     39.42
24     19.82
25     17.81
26     13.37
27     12.69
28     21.70
29     19.65
       ...
214    28.17
215    12.90
216    28.15
217    11.59
218     7.74
219    30.14
220    12.16
221    13.42
222     8.58
223    15.98
224    13.42
225    16.27
226    10.09
227    20.45
228    13.28
229    22.12
230    24.01
231    15.69
232    11.61
233    10.77
234    15.53
235    10.07
236    12.60
237    32.83
238    35.83
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [ ]:
X---- mtlb feature matrix

In [7]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [8]:
X = tips.iloc[:,[1,2,3,4,5,6]]

In [9]:
type(X)

pandas.core.frame.DataFrame

In [10]:
from sklearn.linear_model import LinearRegression
lg = LinearRegression()
lg.fit(X,y)

ValueError: could not convert string to float: 'Female'

In [ ]:
There are two ways to solve this problem:
1. By using Pandas.
2. By using Sklearn

In [ ]:
1. Pandas get_dummies() is used to convert categorical variable 
 into dummy/indicator variables.

In [14]:
import pandas as pd
df = pd.get_dummies(tips["time"],drop_first=True)

In [16]:
df.head()

   Dinner
0       1
1       1
2       1
3       1
4       1

In [17]:
X.head()

    tip     sex smoker  day    time  size
0  1.01  Female     No  Sun  Dinner     2
1  1.66    Male     No  Sun  Dinner     3
2  3.50    Male     No  Sun  Dinner     3
3  3.31    Male     No  Sun  Dinner     2
4  3.61  Female     No  Sun  Dinner     4

In [18]:
X.drop("time",inplace = True,axis=1)

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [19]:
X.head()

    tip     sex smoker  day  size
0  1.01  Female     No  Sun     2
1  1.66    Male     No  Sun     3
2  3.50    Male     No  Sun     3
3  3.31    Male     No  Sun     2
4  3.61  Female     No  Sun     4

In [ ]:
Ab mujhe df(dummy variable) ko X m lekr aana h.
mtlb concat krana h----- pd.concat

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
type(X)

pandas.core.frame.DataFrame

In [25]:
X = pd.concat([X,df],axis=1)#in x we are adding df

In [27]:
X.head()

    tip     sex smoker  day  size  Dinner
0  1.01  Female     No  Sun     2       1
1  1.66    Male     No  Sun     3       1
2  3.50    Male     No  Sun     3       1
3  3.31    Male     No  Sun     2       1
4  3.61  Female     No  Sun     4       1

In [ ]:
so now we will perform the same task using sklearn.
Encoding | -- Converting categorical string variables into numeric categorical.
and the process of converting text categorical data into numerical data is known as label encoding.
Encode labels with value between 0 and n_classes-1.

In [40]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [41]:
prep_col = tips.iloc[:,[2,3,4,5]]

In [42]:
df1 = prep_col.apply(le.fit_transform)

In [43]:
df1.head()

   sex  smoker  day  time
0    0       0    2     0
1    1       0    2     0
2    1       0    2     0
3    1       0    2     0
4    0       0    2     0

In [ ]:
X --- sex,smoker,day,time,tip,size

In [36]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [44]:
df2 = tips.iloc[:,[1,6]]

In [45]:
new_data = pd.concat([df1,df2],axis=1)

In [46]:
new_data.head()

   sex  smoker  day  time   tip  size
0    0       0    2     0  1.01     2
1    1       0    2     0  1.66     3
2    1       0    2     0  3.50     3
3    1       0    2     0  3.31     2
4    0       0    2     0  3.61     4

In [ ]:
new_data m store ho gye columns jo mujhe feature matrix m chahiye..

In [ ]:
1. Pura linear regression revise krna h.
2. is notebook wala code dobara krna h.
3. or ek baare jitne bhi text categorical cols h unko pd.get_dummies() ka use krke convert krna h
numeric categorical m.
4. and then ek baar sklearn.label_encoder s krna h
5. iske upr linear regression apply krna h.

In [47]:
from sklearn.linear_model import LinearRegression
lg = LinearRegression()

In [48]:
lg.fit(new_data,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [50]:
lg.score(new_data,y)

0.5779284097558965

In [ ]:
lg.predict([])

In [ ]:
2 min m start krte h, tb tk sab apni attendace mark kro
group pr on wp.