In [1]:
import seaborn as sns
tips = sns.load_dataset("tips")

In [2]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
Correlation : what do you mean by correlation?

In [3]:
tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [ ]:
total_bill k sath kiska strong relation h among tip and size?
Answer: tip
Hume total-bill predict krna h?
strong predictor kon hua? "tip"
weak predictor kon hua ? "size"

In [ ]:
suppose there is one customer jisne
tip: 2.05
sex : Female
smoker : yes
day: sun
time : Dinner
size = 1.
total_bill = ?

In [ ]:
jo aapko find krna hota h usko hum bolte h ----- target or respose or dependent variables
jo aapko given h usko hum bote h ---- fetures or set of features or independent variables.

In [ ]:
total_bill is target ---- Dependent variable

In [ ]:
total_bill --- Type of total_bill?
Continous --- it is a problem of Regression.
jab humara target variable categorical hoga then it is a problem of classification

In [ ]:
This problem is been solved by Regression Analysis:
1. Simple Linear Regression
2. Least Square Method(OLS)
3. Coefficient of Determination.
4. The difference between r2 and adjusted r2.
5.Assumptions of Linear Regression