In [ ]:
Data is available in different categories 1. Numeric 2. Text 3. Images
NLP Enginners(Natural Language Processing ) ---- Textual Data

In [ ]:
Data Analyst : Insights from the data.
Data Scientist : Product Development .

In [ ]:
Data Processing --- Bird's view hona 
Today we are going to learn about preprocessing of Textual Data.

In [ ]:
Emails ka dataset --- ham/spam
Text cleaning : 1. punctuations : Removal of punctuations ,?,!,&,"",:,;
                2. Lower case and upper case words should be considered as one. 
                3. Removal of stop- words --- Frequently occuring words in any language 
                   is,i ,am,the,often,many....

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
messages = pd.read_csv("SMSSpamCollection" , sep = "\t",names = ["label","message"])

In [3]:
messages.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
describe kya return krta h ?
ans : Descriptive stats

In [4]:
messages.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [5]:
messages.groupby("label").describe()

      message
        count unique                                                top freq
label
ham      4825   4516                             Sorry, I'll call later   30
spam      747    653  Please call our customer service representativ...    4

In [ ]:
#i need to perform a task ---- add krna h ek column jiska name lenght hai
and usme length of each msg store krni h.

In [6]:
a = "sakshi"

In [7]:
len(a)

6

In [8]:
messages.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
messages['length'] = messages["message"].apply(len)

In [10]:
messages.head()

  label                                            message  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [11]:
messages.length.describe()

count    5572.000000
mean       80.489950
std        59.942907
min         2.000000
25%        36.000000
50%        62.000000
75%       122.000000
max       910.000000
Name: length, dtype: float64

In [13]:
#print msg with max length === 910
messages["length"] == 910

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
5542    False
5543    False
5544    False
5545    False
5546    False
5547    False
5548    False
5549    False
5550    False
5551    False
5552    False
5553    False
5554    False
5555    False
5556    False
5557    False
5558    False
5559    False
5560    False
5561    False
5562    False
5563    False
5564    False
5565    False
5566    False
5567    False
5568    False
5569    False
5570    False
5571    False
Name: length, Length: 5572, dtype: bool

In [15]:
messages[messages["length"] == 910]["message"].iloc[0]

"For me the love should start with attraction.i should feel that I need her every time around me.she should be the first thing which comes in my thoughts.I would start the day and end it with her.she should be there every time I dream.love will be then when my every breath has her name.my life should happen around her.my life will be named to her.I would cry for her.will give all my happiness and take all her sorrows.I will be ready to fight with anyone for her.I will be in love when I will be doing the craziest things for her.love will be when I don't have to proove anyone that my girl is the most beautiful lady on the whole planet.I will always be singing praises for her.love will be when I start up making chicken curry and end up makiing sambar.life will be the most beautiful then.will get every morning and thank god for the day because she is with me.I would like to say a lot..will tell later.."

In [16]:
import string
mess = "sample message ! notice: it has punctuations!"

In [17]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [18]:
nopunc = [char for char in mess if char not in string.punctuation]

In [19]:
nopunc

['s',
 'a',
 'm',
 'p',
 'l',
 'e',
 ' ',
 'm',
 'e',
 's',
 's',
 'a',
 'g',
 'e',
 ' ',
 ' ',
 'n',
 'o',
 't',
 'i',
 'c',
 'e',
 ' ',
 'i',
 't',
 ' ',
 'h',
 'a',
 's',
 ' ',
 'p',
 'u',
 'n',
 'c',
 't',
 'u',
 'a',
 't',
 'i',
 'o',
 'n',
 's']

In [20]:
nopunc = "".join(nopunc)

In [21]:
nopunc

'sample message  notice it has punctuations'

In [22]:
import nltk

In [23]:
from nltk.corpus import stopwords

In [24]:
stopwords.words("english")[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [ ]:
as u see above ki output of stopwords m each word is a different string
but in nopunc there is only one string.
Don't you think that first we need to break the sentence into words to make the comparison?
ans : yes

In [25]:
nopunc.split()

#"Now comparison can be done..."

['sample', 'message', 'notice', 'it', 'has', 'punctuations']

In [30]:
clean_mess = [word for word in nopunc.split() if word.lower() not in stopwords.words("english")]

In [31]:
clean_mess

['sample', 'message', 'notice', 'punctuations']

In [32]:
def text_process(mess):
    nopunc = [char for char in mess if char not in string.punctuation]
    nopunc = "".join(nopunc)
    return[word for word in nopunc.split() if word.lower() not in stopwords.words("english")]

In [33]:
messages.head()

  label                                            message  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [34]:
messages["message"].head().apply(text_process)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: message, dtype: object

In [ ]:
The food here is good.
To reduce the dimensions of data so that it
becomes computationally inexpensive.